/* You can add global styles to this file, and also import other style files */

html {
    background-color: #FFFFFF ;
    font-family: 'Open Sans', 'Helvetica Neue', ;
}

body {
    background-color: #FFFFFF;
    position: relative;
width: 1440px;
height: 891px;
}

.mynavbar {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 166px;

width: 1440px;
height: 60px;

background: #7749F8;


font-weight: 600;
font-size: 26px;
line-height: 28px;

color: #FFFFFF;

}

header {
    position: absolute;
width: 642px;
height: 48px;
left: 399px;
top: 252px;

font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #152536;
}

.ph {
    position: absolute;
width: 505px;
height: 72px;
left: 467px;
top: 314px;

font-weight: 400;
font-size: 21px;
line-height: 36px;

display: flex;
align-items: center;


color: #152536;
}

.form-control {
    position: relative;
width: 420px;
height: 120px;
left: 164px;
margin-top: 65px;
}

.form-check {
    position: relative;
left: 164px;
margin-top: 20px;
}

input[type=checkbox]:checked {
background-color: #7749F8;
}

.mybutton {
    position: relative;
left: 164px;
margin-top: 20px;

border-radius: 5px;
border-color: #7749F8;
background-color: #7749F8;
border-style: hidden;


width: 100px;
height: 40px;


color: white;
&:visited{
    color:white;
&:hover{
    color:white;
    font-weight:bold;
}
}
&:hover{
    color: white;
    font-weight:bold;
}
}

.cancel-button {
    position: relative;
left: 164px;
margin-top: 20px;

border-radius: 5px;
border-color: grey;
background-color:#FFFFFF;
border-style: dashed;


width: 100px;
height: 40px;


color: grey;
&:visited{
    color:grey;
&:hover{
    color:grey;
    font-weight:bold;
}
}
&:hover{
    color: grey;
    font-weight:bold;
}
}

.border-bottom {
    border-bottom: #CED4DA;
    width: 1110px;

}

.mycontainer {
    position: relative;
margin-top: 20px;

}

.dropdown-btn {
    position: relative;

background-color: #FFFFFF;
border-style:none;

color: grey;
&:visited{
    color:grey;
&:hover{
    color:grey;
    font-weight:bold;
}
}
&:hover{
    color: grey;
    font-weight:bold;

}


}

.alert {
    max-width: 160px;
    margin-top: 80px;
    margin-right: 160px;
    text-align: center;
    
}


